* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;

}

/*-----------------------------header---------------------------------------------------------*/

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 95px;
    position: fixed;
    width: 100%;
    height: 86px;
    background: #EFF0F3;
    /* For White Background */
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
    z-index: 1000;
}

.header-first-word {
    color: #001858;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.header-second-word {
    color: #6246EA;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.link-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

}

.link {
    display: flex;
    align-items: center;
    color: #2B2C34;
    /* 20 px - Sub Heading 2 */
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    padding: 10px 17px;
    gap: 10px;

}

.link:hover {
    background: #6246EA;
    color: #FFFFFE;
    transition: background 0.3s, color 0.3s;
    border-radius: 4px;
}

/*---------------------------main------------------------------------------------------*/

/*---------------------------1st section----------------------------------------------------------------*/
.first-section-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 250px 95px 263px 95px;
}

.about-this-page {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
}

h1 {
    width: 617px;
    color: #2B2C34;
    /* 64 px - Heading 1 */
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.container-text-with-black-line {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.black-line {
    width: 3px;
    height: 56px;
    background: #2B2C34;
}

.about-page-text {
    width: 652px;
    color: #9A9494;
    /* 20 px - Paragraph 1 */
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 116px;
}

.subscribe-information-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

#input-email {
    display: flex;
    padding: 21px 200px 21px 25px;
    align-items: center;
    border-radius: 8px;
    border: none;
    background: #FFFFFE;
    color: #C0C0C0;
    /* 20 px - Paragraph 1 */
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 20px;
}

.button-subscribe {
    display: flex;
    height: 67px;
    padding: 20px 23px 19px 23px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: none;
    background: #6246EA;
    color: #FFFFFE;
    /* 20 px - Sub Heading 2 */
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    cursor: pointer;
}

aside {
    display: flex;
    width: 470px;
    padding: 13px 18px 11px 18px;
    justify-content: center;
    align-items: center;
}

/*--------------------------2nd section-----------------------------------------------*/
.second-section-main {
    width: 100%;
    height: 500px;
    background: #EFF0F3;

}

.container-cards-category {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

/*-----------title category---------------------------*/
.title-category {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 842px;
    padding: 64px 94px 0 94px;
}

h4 {
    color: #2B2C34;
    /* 24 px - Sub heading 1 */
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

/*-----------scroll card--------------------------*/
.scroll-card {
    color: #2B2C34;
    text-align: right;
    /* 20 px - Sub Heading 2 */
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;

}

.category-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 37px;
}

.category-cards div {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 30px;
    width: 220px;
    height: 280px;
    border-radius: 8px;
    /* For White Background */
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
    background: #FFFFFE;
    padding-left: 30px;
}

.category-cards div p {
    color: #232323;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;

}

.category-cards div div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 7px;
    background: #ffffff;
    padding: 0;
    margin: 65px 130px 0 0;
    box-shadow: 4px 6px 13px 0 rgba(113, 113, 113, 0.25);
}

.category-cards div:hover {
    background: #6246EA;
}

.category-cards div div:hover {
    background: #ffffff;
}

/*-----------------------third-section-main----------------------------------------*/
.third-section-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-featured-article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 30px 16px;
}

.title-third-section {
    display: flex;
    width: 100%;
    padding: 80px 94px 0 94px;
    justify-content: space-between;
    align-items: center;
    gap: 860px;

}

.main-card-pictures {
    width: 100%;
    height: 198px;
    object-fit: cover;
    border-radius: 8px;
}

.mini-picture {
    width: 57px;
    height: 57px;
    border-radius: 50%;
}

.container-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 300px;
    height: 425px;
    border-radius: 12px;
    background: #FFFFFE;
    position: relative;
    /* For White Background */
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;;
}

.container-card:hover {
    transform: scale(1.001);
    z-index: 4;
    box-shadow: 8px 12px 26px 16px rgba(0, 0, 0, 0.1);
}

h5 {
    width: 100%;
    color: #0D0D0D;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin: 25px auto 55px auto;
    height: 50px;

}

h6 {
    width: 73px;
    height: 21px;
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.inf-date {
    width: 184px;
    height: 21px;
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.card-information {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 15px;
}

.text-inf {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

/*--------------------second-line card--------------------------------------*/
.css {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 30px 16px;
}

.css-title .title-third-section {
    gap: 1043px;
}

/*--------------third line card--------------------------------*/
.javascript {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 30px 16px;
}

.javascript-title .title-third-section {
    gap: 975px;
}

/*---------------four line card-----------------------------*/
.react-js {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 30px 16px;
}

.react-js-title .title-third-section {
    gap: 950px;
}

/*----------button-------------------------------------*/
.third-section-button-footer {
    display: flex;
    padding: 20px 23px 19px 23px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 8px;
    background: #6246EA;
    color: #FFFFFE;
    cursor: pointer;

    /* 20 px - Sub Heading 2 */
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;

    margin: 80px 0;
}

/*-------four section main-----------------------------------------------------------------------*/
.four-section-main {
    display: flex;
    padding: 58px 372px;
    flex-direction: column;
    align-items: center;
    background: #EFF0F3;
}

.subscribe-inform-foot {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.subscribe-inform-foot-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.subscribe-inform-foot img {
    width: 80px;
    height: 107px;
}

h2 {
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.subscribe-inform-foot p {
    color: #C0C0C0;
    text-align: center;

    /* 20 px - Paragraph 1 */
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#input-email-2 {
    display: flex;
    padding: 21px 200px 21px 25px;
    align-items: center;
    border-radius: 8px;
    border: none;
    background: #FFFFFE;
    color: #C0C0C0;
    /* 20 px - Paragraph 1 */
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 20px;
}

/*------------------footer-------------------------------------------------------------------*/

.footer-container {
    display: flex;
    align-items: flex-start;
    padding: 70px 95px 50px;
    gap: 160px;
}

/*-------------------left container------------------------------------------*/
.left-footer-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.footer-first-word {
    color: #001858;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.footer-second-word {
    color: #6246EA;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.left-footer-container p {
    color: #2B2C34;
    /* 18 px - Paragraph 2 */
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.social-link {
    display: flex;

    height: auto;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}

/*-----------------------right footer container-------------------------------------------*/
.right-footer-container {
    display: flex;
    align-items: flex-start;
    gap: 95px;

}

.fot-ri {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.fot-ri a {
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

h3 {
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.footer-grey-line {

    width: 1250px;
    height: 1px;
    background: #C0C0C0;
}

.container-footer-line {
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer-last-text {
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-last-ps {
    display: flex;
    flex-direction: column;
    height: 70px;
    padding: 0 95px 70px 95px;
}

.footer-container-text {
    display: flex;
    align-items: start;
    padding: 26px 0;
}



